<?xml version="1.0"?>
<launch>

  <node pkg="joy" type="joy_node" name="joy_node" ns="bluetooth_teleop" cwd="node" respawn="false" output="screen">
    <remap from='joy' to='/joy' />
    <param name="joy_node/dev" value="/dev/input/js0" />
    <param name="joy_node/deadzone" value="0.1" />
    <param name="joy_node/autorepeat_rate" value="20" />
  </node>
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop" ns="bluetooth_teleop" cwd="node" respawn="false" output="screen">
    <remap from='joy' to='/joy' />
    <param name="teleop_twist_joy/enable_button" value="4" />
    <param name="teleop_twist_joy/scale_angular" value="1.4" />
    <param name="teleop_twist_joy/enable_turbo_button" value="5" />
    <param name="teleop_twist_joy/scale_linear" value="0.4" />
    <param name="teleop_twist_joy/scale_linear_turbo" value="1.0" />
    <param name="teleop_twist_joy/axis_angular" value="0" />
    <param name="teleop_twist_joy/axis_linear" value="1" />
  </node>
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" cwd="node" respawn="false" output="screen">
    <remap from='cmd_vel' to='bluetooth_teleop/cmd_vel' />
    <remap from='cmd_vel' to='bluetooth_teleop/cmd_vel' />
    <remap from='cmd_vel' to='twist_marker_server/cmd_vel' />
    <rosparam>
/twist_mux/locks:
  topic: e_stop
  priority: 255
  name: e_stop
  timeout: 0.0
    </rosparam>
    <param name="/twist_mux/topics" value="]" />
  </node>

</launch>
